div {
  font-family: monospace;
  font-size: x-large;
  background: #222;
  margin-bottom: 20px;
}

aside {
  background: #111;
  padding: 2px 0 2px 10px;
  font-size: large;
}

main {
  padding-left: 10px;
  padding-bottom: 5px;
}

a {
  color: #ccc;
}

a:hover {
  color: white;
}
